a {
  color: black;
  text-decoration: none;
}

h3.routeDescription {
  text-decoration: underline;
  margin: auto 5px;
}

/* h3.scheduleHeading {
  text-decoration: none;
  color: red;
} */

div.flight {
  display: inline-block;
  border: 5px black solid;
  margin: 5px;
  padding: 5px;
}

div.flight:hover {
  background-color: rgb(209, 209, 209);
}

p {
  margin-bottom: 5px;
  text-align: center;
}

div.seatSelection {
  text-align: left;
}

/* tr {
  display: block;
  width: 100%;
} */